@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div style="background-color:white"> 
        <h1 style="color: hsl(240, 50%, 40%); border-block:medium;">Вітаємо на нашому сайті!</h1>
    </div>
</div>
